
/* general rules */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


/* page header */
header {
    height: 20vh;
    padding: 16px;
    color: #999999;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* header main elements */
header h1,
header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


header div {
    font-size: 16pt;
}


/* spacebar word */
div span {
    display: inline-block;
    text-decoration: underline;
    margin: 0 5px;
    color: #444444;
}


/* generated color palette */
#generated__list {
    height: 80vh;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}


/* single color code */
li {
    width: calc(100% / 6);
    height: 100%;
    padding: 10px 10px 50px;
    font-size: 20pt;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


/* displayed color code */
li span {
    background-color: #444444;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
